
<h1>Welcome to Education Central</h1>

<p>
  Our aim is to help you learn all about cache mapping techniques, and here is what we hope to achieve
</p>
  <h1>Goal</h1>

  <p>
  Our goal is to inspire all to learn, aspire and succeed.
  </p>

  <h1>What exactly is Cache?</h1>
<p>
  When the CPU needs to access data from main memory it places the address of that 
  data on the address line along with the appropriate control signals, and subsequently 
  waits for the data to be returned. Main memory however is much slower than the CPU
  and therefore accessing main memory means the CPU has to wait on a relatively 'slow'
  response. With the introduction of cache the CPU can now make use of a faster type of 
  memory
</p>

<h1>What exactly is Main Memory?</h1>

<p>Main Memory(MM), on the otherhand, is used to store programs and data during the computers operation. When the CPU needs to access memory to retrieve data it first searches
Cache. If Cache contains a copy of that portion(s) of MM the requested data is delivered to the CPU. If however the data is not found in Cache, MM is search and the portion of MM containing
the required data is copied and transfer to cache then it will be deliver to the CPU(based on the locality of reference).

<br>- MM directly interacts with the CPU

<br>- Much slower than Cache interms of speed

<br>- Have a larger capacity than Cache

<br>- Far away from the CPU
</p>
